
.css{
  background-color:rgba(17, 112, 140, 0.98);
  width:100px;
  box-shadow:10px 10px black; 
  color:white;
  transition:margin-left 3s;
  /* transition:margin-top 3s; */
  
}
.css span{
  margin-left:20px;
  margin-right:20px;
  /* margin-left:50px; */
}
.css:hover{
   
  /* width:300px; */
  margin-left:50px;
  /* margin-top:50px; */
  
}
p {
  /* display:block; */
  visibility:hidden;
  width:200px;
  height:20px;
  background-color:rgba(17, 112, 140, 0.98);
  padding:5px;
}

/* 
div {
  height: 200px; Set line-height to this value
  width: 400px;
  background: #eee;
  margin: auto;
} */
 
/* p {
 font: 40px/200px Helvetica, sans-serif;
 text-align: center;  
} */

.outer{
  background-color:orange;
  width:300px;
  height:300px;
  margin:auto; 
  
} 
.inner{
  background-color:white;
  width:100px;
  height:100px;
  border:1px solid black;
  margin-left:100px;
  margin-right:100px;
  margin-top:100px;
  position:absolute;
  border-radius:5px;
  box-shadow:10px 10px 5px ;
  
 /*Using the CSS3 2D*/ 
   /*  transform:rotate(20deg); */
   /* transform:skewX(20deg); */
   /* transform:skew(20deg,30deg); */
   /* transform:matrix(1, -0.3, 0, 1, 0, 0); */
 
 /*Using the CSS3 3D*/ 
   /* transform:rotate(150deg); */
   /* transform:rotateX(150deg); */
   /* transform:rotateZ(150deg); */
 
/* transition:width 5s,height 5s; */
 transition:width 5s,height 5s, transform 2s ;

}
.inner:hover{ 
  width:200px;
  height:200px;
  /* margin-left:200px; */
  transform:rotate(360deg);
  background:linear-gradient(red,yellow);
}